<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表渲染</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        h3 {
            color: #e55039;
        }

        h4 {
            display: inline-block;
            margin-right: 20px;
        }
    </style>
</head>

<body>
    <h1>列表渲染</h1>
    <hr>

    <h3>用v-for把一个数组对应成一组元素，使用item in items语法</h3>
    <ul id="demo1">
        <li v-for="item in items">
            {{ item.message }}
        </li>
    </ul>
    <hr>

    <h3>在v-for块中，拥有对父作用域的访问权</h3>
    <h3>v-for支持第二个参数为当前项的索引（item,index）</h3>
    <ul id="demo2">
        <li>
            item.message + index + parentMsg
        </li>
        <li v-for="(item,index) in items">
            {{item.message}} + {{index}} + {{parentMsg}}
        </li>
    </ul>
    <hr>

    <h3>用v-for通过一个对象的属性来迭代</h3>
    <h3>第二个参数为键名，第三个参数为索引</h3>
    <ul id="demo3">
        <li v-for="(value,key,index) in obj">
            {{index}}. {{key}}: {{value}}
        </li>
    </ul>
    <hr>

    <h3>数组变异方法检测，会出发视图更新，会改变原始数组</h3>
    <h4>push()</h4>
    <h4>pop()</h4>
    <h4>shift()</h4>
    <h4>unshift()</h4>
    <h4>splice()</h4>
    <h4>sort()</h4>
    <h4>reverse()</h4>
    <hr>

    <h3>非变异方法，不改变原始数组，返回一个新数组</h3>
    <h4>filter()</h4>
    <h4>concat()</h4>
    <h4>slice()</h4>
    <hr>

    <h3>注意Vue不能检测以下两种数组变动：</h3>
    <p>1、利用索引设置一个项：vm.items[indexOfItem] = newValue</p>
    <p>2、修改数组长度：vm.itmes.length = newLength</p>
    <h3>替代方法：</h3>
    <p>1、设置项：Vue.set(vm.items, indexOfItem, newValue)</p>
    <p style="text-indent:88px">Vue.set(vm.items, indexOfItem, newValue)</p>
    <p style="text-indent:88px">vm.$set(vm.items, indexOfItem, newValue)</p>
    <p>2、修改数组长度：vm.items.splice(newLength)</p>
    <hr>

    <ul id="demo4">
        <li v-for="n in evenNum">{{ n }}</li>
    </ul>

    <script>
        var demo1 = new Vue({
            el: '#demo1',
            data: {
                items: [{
                    message: 'apple'
                },
                {
                    message: 'peach'
                }
                ]
            }
        })

        var demo2 = new Vue({
            el: '#demo2',
            data: {
                parentMsg: 'Parent',
                items: [{
                    message: 'Foo'
                },
                {
                    message: 'Bar'
                }
                ]
            }
        })

        var demo3 = new Vue({
            el: '#demo3',
            data: {
                obj: {
                    firstName: 'Chenxi',
                    lastName: 'Yang',
                    age: 18
                }
            }
        })

        var demo4 = new Vue({
            el: '#demo4',
            data: {
                numbers: [1, 2, 3, 4, 5, 6, 7, 8]
            },
            computed: {
                evenNum: function () {
                    return this.numbers.filter(function (num) {
                        return num % 2 === 0
                    })
                }
            }
        })
    </script>
</body>

</html>