<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>条件渲染</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <h1>条件渲染</h1>
    <hr>
    <div id="div1">
        <h3>v-if指令</h3>
        <p v-if='data1'>data1为true时显示</p>
        <hr>
        <h3>v-else添加一个“else块”，v-else要紧跟在v-if或者v-else-if后面，才能被识别</h3>
        <p v-if='data2'>data2为true</p>
        <p v-else>data2为false</p>
        <hr>
        <h3>v-if需要作用在一个元素上，想切换多个元素时，可以把"template"元素当做不可见的包裹元素。
            <br>并在上面使用 v-if 。最终的渲染结果不包含template元素。
        </h3>
        <template v-if="data3">
            <h4>Title</h4>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
        </template>
        <hr>
        <h3>v-else-if，充当 v-if 的“else-if 块”，可以连续使用</h3>
        <div v-if="type === 'A'">
            type为{{type}}
        </div>
        <div v-else-if="type === 'B'">
            type为{{type}}
        </div>
        <div v-else-if="type === 'C'">
            type为{{type}}
        </div>
        <div v-else>
            Not A/B/C
        </div>
    </div>
    <script>
        var div1 = new Vue({
            el: '#div1',
            data: {
                data1: true,
                data2: true,
                data3: true,
                type: 'A'
            }
        })
    </script>
</body>

</html>